.invoice-filter {
  display: flex;
  align-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -0.25px;
}

.invoice-filter input {
  display: none;
}

.invoice-filter div {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 2px;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.invoice-filter div img {
  display: none;
}

.invoice-filter:hover div {
  border: 1px solid #7c5dfa;
}

.invoice-filter input:checked + div {
  background-color: #7c5dfa;
}

.invoice-filter input:checked + div img {
  display: block;
}
