.goBackLink {
  display: inline-block;
  align-self: flex-start;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  margin-bottom: 2rem;

  &:hover {
    color: #888eb0;
  }
}

.goBackLink__light {
  color: var(--theme-light-textColorPrimary);
}
.goBackLink__dark {
  color: var(--theme-dark-textColorPrimary);
}
